a img{
	border: 0;
	}

.thumbnail {
	float: left;
	width: 200px;
	margin: 15px 15px 15px 15px;
	}

.clearfloat {
	clear: both;
	}
	
figure {
	width: 200px;
	float: left;
	background-color: #eee;
	padding: 20px;
	margin: 20px;
	box-shadow: 5px 5px 8px #888888;
	border-radius: 10px 10px 0px 0px;
	}
	
figcaption {
	font-style: italic;
	}
	
h1 {
	font-family: "Buxton Sketch Regular", Calibri;
	text-shadow: 5px 5px 8px #101010;
	}

body {
	font-family: Candara, Calibri;
	}

.ImageContent {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	}
